.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  font-size: .9rem;
  min-height: 100vh;
  box-sizing: border-box;
  transition: color 400ms, background-color 400ms;
}

.App .circle {
  transition: background-color 400ms;
}

.App .title .o-fill {
  transition: background-color 400ms;
}

/* dark theme */
.App.dark {
  color: rgb(246, 246, 246);
  background-color: rgb(48, 48, 48);
}
.App.dark .circle{
  background-color: rgb(246, 246, 246);
}

.App.dark .title .o-fill {
  background-color: rgb(246, 246, 246);
}

.App.dark a {
  color: rgb(198, 198, 198);
  transition: color 200ms;
  text-decoration: none;
}

.App.dark a:hover {
  color: rgb(246, 246, 246);
}

/* light */
.App.light {
  background-color: rgb(246, 246, 246);
  color: rgb(48, 48, 48);
}
.App.light .circle{
  background-color: rgb(48, 48, 48);
}

.App.light .title .o-fill {
  background-color: rgb(48, 48, 48);
}

.App.light a {
  color: rgb(119, 119, 119);
  transition: color 200ms;
  text-decoration: none;
}

.App.light a:hover {
  color: rgb(48, 48, 48);
}
/*  */

.App .main-text-wrapper {
  margin: 50px 0 100px;
}

.App .main-text-wrapper, .App .footer {
  width: 320px;
}

.App .title .o-fill {
  display: inline-block;
  width: .93rem;
  height: .93rem;
  border-radius: 100%;
  margin: 0 .27rem 0 .22rem;
}

.App .title {
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .2rem
}

.App .footer {
  font-size: .8rem;
}


@media (min-width: 576px) {
  .App {
    padding: 30px 20px;
  }
  .App .main-text-wrapper, .App .footer {
    width: 410px;
  }
}
